<!DOCTYPE html>
<html lang="en">

<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400&display=swap" rel="stylesheet" type="text/css">
    <title>Item Catalog</title>
</head>

<body>
    <header>
        <div class="content">
            <div class="hero-text-box">
                <h1>Item Catalog</h1>
                 <a class="btn login-btn" href="{{ url_for('showLogin') }}">Login</a>
            </div>
    </header>
    <section class="section-content">
        <div class="row">
            <div class="col span-1-of-2">
                <div class="categories">
                <ion-icon name="copy" class="icon-big">Categories</ion-icon>
                <h2>Categories </h2>
                <ul >
                    {% for category in categories %}
                    <li><a href="{{url_for('showCategory',categoryName=category.name)}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <div class="col span-1-of-2">
                <div class="latest-items">
                <ion-icon name="refresh" class="icon-big">Latest</ion-icon>
                <h2>{{category}} Items</h2>
                <ul>
                  {% for item in items %}
                    <li><a href="{{url_for('showItem',categoryName=category,itemName=item.name)}}">{{item.name}} ({{category}})</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </div>
    </section>
    </div>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- Sticky scroll js -->
    <script>
    window.onscroll = function() { myFunction() };

    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }
    </script>
</body>

</html>